<div class="container">
    <div class="row">
        <h1 class="titulo">Proyectos</h1>

        <div class="col-6 proyecto">
            <img class="img-fluid" src="../../../assets/tateti.png">
            <h2 class="tituloProyecto">Ta-Te-Ti</h2>
            <p class="descripcion">Clasico juego Ta-Te-Ti hecho en Angular</p>
        </div>

        <div class="col-6 proyecto">
            <img class="img-fluid" src="../../../assets/pomodoro.png">
            <h2 class="tituloProyecto">Pomodoro Timer</h2>
            <p class="descripcion">Temporizador Pomodoro</p>
        </div>

    </div>
</div>