.container{
    background-color: #D6D6D6;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 10rem;
    text-align: center;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    min-height: 16rem;
}


.titulo{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
}

.tituloProyecto, .descripcion{
    font-size: 1.3rem;
}