.vh-100{
    background: rgb(65,65,65);
    background: linear-gradient(0deg, rgba(65,65,65,1) 0%, rgba(0,0,0,1) 100%);
}


.card{
    background-color: #D6D6D6;
    border: 1px solid #c4c4c4;
}


.mb-5{
    font-size: 1.5rem;
    font-weight: bold;
}

.mb-4{
    font-size: 1rem;
}

.form-check-label{
    text-align: center;
}